body {
  display: flex;
  justify-content: space-around;
}

.button {
  cursor: pointer;
  padding: 15px 30px;
  font-size: 15px;
  background-color: rgb(75, 135, 155);
  margin-right: 20px;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.button::after {
  content: "";
  background-color: rgb(15, 77, 97);
  border-radius: 50%;
  transition: width 1s ease, height 1s ease;
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  height: 0;
  width: 0;
  z-index: 1;
}

.button:hover::after {
  height: 250px;
  width: 250px;
}